* {
  font-family: Cascadia Code;
}

.verification-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryDark);

  .verification-content {
    width: 80%;
    height: 80%;
    background-color: var(--primaryDark);
    border-radius: 1rem;

    .verification-image-container {
      width: 100%;
      display: flex;
      justify-content: center;

      .verification-image {
        width: 30%;
        margin-bottom: -5rem;
        animation: intro 3s;
      }

      @keyframes intro {
        from {
          opacity: 0;
        } to {
          opacity: 1;
        }
      }
    }

    .desc {
      text-align: center;
    }

    .form-input-container{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 3rem;

      label {
        text-align: center;
      }

      input {
        width: 30%;
        margin-top: 0.3rem;
        text-align: center;
      }
    }

    button {
      align-self: center;
      margin-top: 1rem;
      width: 10rem;
    }


  }
}