{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Homepage{% endblock %}

{% block body-content %}

<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'aquasite/css/homepage_css/home.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body class="back-white">

	{% include 'aquasite/partials/home-navbar.html' %}

	<div class="inicio-white" id="inicio">
		<img id="imginicio" class="side-image" src="{% static 'aquasite/images/global_images/logo-claro.png' %}">
		<div class="inicio-text">
			<div class="inicio-content">
				<h1 class="title">AQUA</h1>
				<p class="desc">A água é um recurso vital
					 para a vida humana e para o desenvolvimento econômico e social. 
					Vamos agir juntos para um bem-maior.</p>
				<a href="{% url 'auth' %}"><button class="button">Entrar na Dashboard</button></a>
			</div>
		</div>
	</div>

	<div class="paramets">
		<div class="cards hide">
			<div class="card">
				<img src="{% static 'aquasite/images/homepage_images/temperature.png' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Temperatura</h5>
					<p class="card-text">Influencia diretamente na vida e no bem-estar dos organismos que habitam em 
						rios, lagos, oceanos e outros corpos de água.</p>
				</div>
			</div>
	
			<div class="card">
				<img src="{% static 'aquasite/images/homepage_images/medidor_ph.png' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">PH</h5>
					<p class="card-text">O pH é um parâmetro fundamental em ambientes aquáticos.</p>
				</div>
			</div>
	
			<div class="card">
				<img src="{% static 'aquasite/images/homepage_images/oxigen.png' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Oxigenação</h5>
					<p class="card-text">O oxigênio desempenha um papel fundamental
						 na respiração de organismos aquáticos como peixes por exemplo.</p>
				</div>
			</div>
		</div>
	</div>

	{% include 'aquasite/partials/contact.html' %}

<div class="theme-btn">
	<button id="dark_btn"><img src="{% static 'aquasite/images/global_icons/moon.png' %}"></button>
	<button class="hide" id="white_btn"><img src="{% static 'aquasite/images/global_icons/sun.png' %}"></button>
</div>

	<!-- https://fonts.google.com/icons?selected=Material+Symbols+Outlined:person:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%235f6368&icon.query=accou -->

<script src="{% static 'aquasite/js/homepage_script.js' %}"></script>

</body>
</html>
{% endblock %}
