{% extends 'aquasite/partials/base.html' %}

{% block title %}AQUA | Verificação{% endblock %}

{% block body-content %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'aquasite/css/verification_css/verification.css' %}">
</head>

  <div class="verification-container">
    <div class="verification-content">
      <div class="verification-image-container">
        <img src="{% static 'aquasite/images/global_images/logo-claro.png' %}" class="verification-image">
      </div>

      <h1 class="title">Código de Verificação</h1>
      <p class="desc">Para a sua segurança. Enviamos um código de verificação para o seu email</p>

      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
          <div class="form-input-container">
            <label for="verification-code-input" class="desc">Informe o código</label>
            <input type="text" class="form-control" name="verification-code-input">
            <button type="submit" class="button">Enviar</button>
          </div>
        </div>
      </form>

    </div>
  </div>
        
{% endblock %}