*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.back-white { 
  background-color: var(--primaryWhite);
}

.back-dark{
  background-color: var(--primaryDark);
}

:root {
  --primaryWhite: rgb(51, 111, 160);
  --secondaryWhite: rgb(116, 192, 255);

  --primaryDark: rgb(1, 65, 117);
  --secondaryDark: rgb(5, 109, 194);
}

.title{
  font-size: 2.5rem;
  color: white;
  border-bottom: 2px white solid;
  width: fit-content;
  margin: 10px auto;
}

.desc{
  font-size: 0.9rem;
  color: white;
}

.button{
  padding: 0.5rem;
  border-radius: 2px;
  border: none;
  
  background-color: rgb(116, 192, 255);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.button:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.hide {
  display: none !important;
  z-index: -1;
}

/* NavBar */

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 1rem;
}

.navcolor-white{
  background: linear-gradient(to right, var(--primaryWhite), var(--secondaryWhite));
}

.navcolor-dark{
  background: linear-gradient(to right, rgb(5, 109, 194), rgb(1, 65, 117));
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  z-index: 1000; /* Ensure the navbar is on top of other elements */
  box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.1);

  a {
    font-family: Cascadia Code;
  }
  
  .navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: transform 0.3s ease;
    width: 10%;
    height: fit-content;

    img {
      width: 100px;
      margin: -2rem -0.5rem;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
  
  .nav-all{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    font-size: 35px;
  }

  .navbar-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .links{
    position: relative;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    transform: scale(1);
    transition: transform 0.3s ease;
    margin-left: 1rem;

    &::after {
      content:"";
      position: absolute;
      background-color: white;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
      color: white;

      &:hover::after {
        transform: scale(1.2);
      }
    }

    
  }
  
  .account{
    width: 3%;
    border: none;
    background-color: transparent;
    transform: scale(1);
    transition: 0.3s ease;

    &:hover{
      transition: transform 0.3s ease;
      transform: scale(1.2);
    }
  }
  
  .icon{
    color: white;
    width: 30%;
  }

}

/* Contact */

.contact-container {
  width: 100%;
  height: 50vh;

  margin-top: -3rem;
  margin-bottom: 10rem;
  animation: intro 2s ease-in-out, anim 3s ease-in-out;
}

.contact-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.contact-form-container {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
  gap: 5rem;

  background: linear-gradient(to right, var(--primaryWhite), var(--secondaryWhite));
}

.contact-form {
  width: 50%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  gap: 1rem;
}

.contact-label {
  display: flex;
  flex-direction: column;
  color: white;
}

.email-input {
  height: 2rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.contact-input-desc {
  padding: 0.2rem;
  font-size: 1rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.side-image-contact {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: -1rem;
}

.side-image-contact img {
  width: 70%;
  height: fit-content;
  animation: float 3s ease-in-out infinite;
}

/* THEME-BUTTON */

.theme-btn{
  position: fixed;
  width: fit-content;
  z-index: 10;
  right: 0;
  bottom: 0;
  margin: 10px 25px;
}

.theme-btn button{
  border: none;
  border-radius: 50px;

  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-btn img{
  width: 1.8rem;
}





