{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
<nav class="navbar navbar-expand-lg bg-body-tertiary navcolor-white">
	<div class="container-fluid">
		<div class="logo">
			<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'aquasite/images/global_images/logo-claro.png' %}" alt=""></a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse nav-all" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link links" aria-current="page" href="{% url 'home' %}">Inicio</a>
				<a class="nav-link links" href="{% url 'about-us' %}">SeaWare</a>
				<a class="nav-link links" href="{% url 'home' %}#contato">Contato</a>
			</div>
		</div>
		<button class="account">
			<a href="{% url 'auth' %}"><span class="material-symbols-outlined icon">person</span></a>
		</button>
	</div>
</nav>
